.list {
  background-color: #F7F7F7;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  list-style: none;

  max-height: 300px;
  overflow-y: auto;
  padding: 0;
}

/* Scroll fino */
.list::-webkit-scrollbar {
  width: 6px;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 10px;
}