body {
  background-color: #c0e7fb;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title,
.description {
  text-align: center;
}

/* .description {
  font-size: 14px;
} */

.cardActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftButtons {
  display: flex;
  gap: 16px;
}

.rightButtons {
  display: flex;
  gap: 16px;
}
